%p#notice= notice
.text-center
  %h1 Katherine & Nicholas
  %p Wedding Music Suggestions
%p
  =render partial: 'form', locals: { song: Song.new }

.test
  = youtube_video @songs.first.url

.scrollable
  .list-group
    =render @songs


